<nav class="navbar">
    <a href="/" class="brand">BRAND</a>
    <ul>
        <li>
            <a href="#play">Play</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
    </ul>
</nav>