---
layout: base.njk
title: Not So Scary Graveyard
---

<header class="hero">
    {% image "./src/assets/images/screen-front.png", "Graveyard", "hero__image" %}
    <div class="hero__inner">
        <h1 class="hero__title">Not So Scary Graveyard</h1>
        <p class="hero__tagline">A Halloween-themed VR game for you!</p>
        <a href="#play" class="btn btn--rounded btn__hero">Play</a>
    </div>
</header>

<main class="container flow">
    <section class="play" id="play">
        <h2 class="play__title">Play</h2>
        <p class="play__text">You can play the game on the Oculus Quest 2. You can download the game from the Oculus
            Store
            <a href="https://www.oculus.com/experiences/quest/4638173601094998/" target="_blank"
            rel="noopener noreferrer">here</a>.
        </p>
    </section>
    <section class="feedback" id="feedback">
        <h2 class="play__title">Give feedback</h2>
        <p class="play__text">After having played the game feel free to give us feedback on the game. You can do this by filling out the form linked here 
            <a href="https://forms.gle/8Z5Z9Z1Z1Z1Z1Z1Z9" target="_blank">Form</a>.
        </p>
    </section>
    <section class="about" id="about">
        <h2 class="about__title">About</h2>
        <p class="about__text">Not So Scary Graveyard is a Halloween-themed VR game for you! It's a first-person shooter
            game where you have to shoot the zombies that are coming at you. You can also shoot the pumpkins to get
            points.
            The game is made with Unity and the assets are from the Unity Asset Store. The game is made for the Oculus
            Quest
            2.</p>
    </section>
    <section class="hiscore" id="hiscore">
        <h2 class="hiscore__title">Hiscore</h2>
        {{ hiscores | log }}
        <ul>
        {% for item in hiscores.scores | limitscores(10) %}
            <li>{{ item.name }} had a score of: "{{ item.score }}" </li>
            {% else %}
            <li>No scores yet!</li>
        {% endfor %}
        </ul>
    </section>
</main>

<footer class="container">
    <p>Made by Te4</p>
    <p>&copy; 2022</p>

</footer>