---
layout: base.njk
title: Not So Scary Graveyard
---

<header class="hero">
    {% image "./src/assets/images/screen-front.png", "Graveyard", "hero__image" %}
    <div class="hero__inner flow">
        <h1 class="hero__title">Not So Scary Graveyard</h1>
        <p class="hero__tagline">A Halloween-themed VR game for you!</p>
        <a href="#play" class="btn btn--rounded btn__hero">Play</a>
    </div>
</header>

<main class="container flow">
    <section class="play" id="play">
        <h2 class="play__title">Play</h2>
        <p class="play__text">You can play the game on the Oculus Quest 2. Although the game is unavalible for download
            due to it not being published anywhere.
        </p>
    </section>
    <section class="feedback" id="feedback">
        <h2 class="play__title">Give feedback</h2>
        <p class="play__text">After having played the game feel free to give us feedback on the game. You can do this by filling out the form linked here 
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSev_c0hrd3VFGjwi04Beej904JwKqk_erqCHIOZaAH3ymCdMw/viewform?usp=sf_link" target="_blank">Form</a>.
        </p>
    </section>
    <section class="about" id="about">
        <h2 class="about__title">About</h2>
        <p class="about__text">Not so scary graveyard is a Tower Defense-type game with Halloween themes at its core. 
            Using the unity engine and unity asset store we have created this cost-free experience for VR-headset owners that we hope will bring some form of entertainment. 
            The developing process was done through oculus quest 2 but the game should function on similar devices.</p>
    </section>
    <section class="hiscore" id="hiscore">
        <h2 class="hiscore__title">Hiscore</h2>
        {{ hiscores | log }}
        <ul>
        {% for item in hiscores.scores | limitscores(10) %}
            <li>{{ item.name }} had a score of: "{{ item.score }}" </li>
            {% else %}
            <li>No scores yet!</li>
        {% endfor %}
        </ul>
    </section>
</main>

<footer class="container">
    <p>Made by Te4</p>
    <p>&copy; 2022</p>

</footer>